body {
    font-family: 'Times New Roman', Times, serif ;
    padding: 0;
    margin: 0;
    text-align: left;
}

.container{
    width: 1140px;
    margin: 0 auto;
}


p{
    margin-bottom: 12px;
    margin-top:5px;
}

h1 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 0px;
}

h2{
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
    margin-top: 12px;
}

h3{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 8px;
}

h4{
    font-weight: bold;
    margin-bottom: 0px;

}

#header{
    text-align: center;
    margin-bottom: 32px;
}

#footer {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;
}
